@import "../../settings";
$max-width: 320px;
$min-width: calc(#{$max-width} - 32px);

$image-size: var(--image-size);

$title-size: var(--toast-title-size);
$title-color: var(--color);
$content-size: var(--toast-content-size);

$close-size: 20px;

$close-color: var(--color);

$error-bg-color: var(--bg-color-error);
$warning-bg-color: var(--bg-color-warning);
$info-bg-color: var(--bg-color-info);
$success-bg-color: var(--bg-color-success);

$error-border-color: var(--border-color-error);
$info-border-color: var(--border-color-info);
$warning-border-color: var(--border-color-warning);
$success-border-color: var(--border-color-success);

$image-border-radius: var(--image-border-radius);
$border-radius: var(--border-radius);
$box-shadow: var(--box-shadow);

$animationLeft: leftSlideIn var(--animation-speed) ease-in-out forwards;
$animationLeftOut: leftSlideOut var(--animation-speed) ease-in-out forwards;
$animationRight: rightSlideIn var(--animation-speed) ease-in-out forwards;
$animationRightOut: rightSlideOut var(--animation-speed) ease-in-out forwards;

@keyframes leftSlideIn {
  from {
    transform: translateX(calc(-100% - 10px));
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes leftSlideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-100% - 10px));
    opacity: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@keyframes rightSlideIn {
  from {
    transform: translateX(calc(100% + 10px));
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes rightSlideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(100% + 10px));
    opacity: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
