@import "settings";

.system-toast {
    position: relative;

    display: flex;
    align-items: flex-start;

    max-width: $max-width;
    min-width: $min-width;
    height: 100%;
    padding: 15px;
    max-height: 0;
    margin-bottom: 0;
    margin-top: 0;

    box-shadow: $box-shadow;
    border-radius: $border-radius;

    transition: max-height var(--animation-speed) ease-in-out,
    margin-top var(--animation-speed) ease-in-out,
    margin-bottom var(--animation-speed) ease-in-out,
    top var(--animation-speed) ease-in-out,
    bottom var(--animation-speed) ease-in-out,
    transform var(--animation-speed) ease-in-out;

    .system-toast {
        &__close {
            cursor: pointer;

            position: absolute;
            top: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: $close-size;
            height: $close-size;
            padding: 2px;

            outline: none;
            border: none;
            border-radius: 50%;

            opacity: 0;

            transition: opacity var(--animation-speed) ease-in-out, transform var(--animation-speed) ease-in-out;

            &--left {
                left: -($close-size / 2);
            }

            &--right {
                right: -($close-size / 2);
            }

            svg {
                width: 20px;
                height: 20px;
                fill: $close-color;
            }

            &:hover {
                svg {
                    fill: white;
                }
            }
        }

        &__image {
            width: $image-size;
            height: $image-size;

            margin-right: 12px;

            border-radius: $image-border-radius;
        }

        &__group {
            width: calc(100% - #{$image-size + 12px});
        }

        &__title {
            margin: 0 0 8px;

            font-size: $title-size;
            color: $title-color;
        }

        &__content {
            margin: 0;

            font-size: $content-size;
        }
    }

    &.system-toast {
        &--error {
            background-color: $error-bg-color;
            border: 1px solid var(--border-color-error);

            .system-toast {
                &__close {
                    background-color: $error-bg-color;
                    border: 1px solid var(--border-color-error);

                    &:hover {
                        background-color: var(--border-color-error);
                    }
                }
            }
        }

        &--info {
            background-color: $info-bg-color;
            border: 1px solid var(--border-color-info);

            .system-toast {
                &__close {
                    background-color: $info-bg-color;
                    border: 1px solid var(--border-color-info);

                    &:hover {
                        background-color: var(--border-color-info);
                    }
                }
            }
        }

        &--warning {
            background-color: $warning-bg-color;
            border: 1px solid var(--border-color-warning);

            .system-toast {
                &__close {
                    background-color: $warning-bg-color;
                    border: 1px solid var(--border-color-warning);

                    &:hover {
                        background-color: var(--border-color-warning);
                    }
                }
            }
        }

        &--success {
            background-color: $success-bg-color;
            border: 1px solid var(--border-color-success);

            .system-toast {
                &__close {
                    border: 1px solid var(--border-color-success);
                    background-color: $success-bg-color;

                    &:hover {
                        background-color: var(--border-color-success);
                    }
                }
            }
        }

        &--left-top, &--left-bottom {
            transform: translateX(calc(-100% - 10px));
        }

        &--left-slide-in {
            animation: $animationLeft;
        }

        &--left-slide-out {
            animation: $animationLeftOut !important;
        }

        &--right-bottom, &--right-top {
            transform: translateX(calc(100% + 10px));
        }

        &--right-slide-in {
            animation: $animationRight;
        }

        &--right-slide-out {
            animation: $animationRightOut !important;
        }

        &--left-top, &--right-top {
            margin-bottom: 16px;
        }

        &--left-bottom, &--right-bottom {
            margin-top: 16px;
        }
    }

    &:hover {
        .system-toast__close {
            transform: translateY(-($close-size / 2));
            opacity: 1;
        }
    }
}

@each $name, $value in $app-breakpoints {
    $min: map-get($value, min);
    $max: map-get($value, max);

    @media screen and (min-width: #{$min}) and (max-width: #{$max}) {
        .system-toast {
            min-width: unset;

            .system-toast {
                &__close {

                    opacity: 1;

                    transform: translateY(0);

                    &--left {
                        left: 0;
                    }

                    &--right {
                        right: 0;
                    }
                }
            }

            &:hover {
                .system-toast__close {
                    transform: translateY(0);
                }
            }
        }
    }
}
