@import "settings";

.system-toast-content {
    margin: 0;

    font-size: $content-size;
    color: $content-color;
    line-height: 16px;

    background-size: cover;

    .system-toast-content {
        &__more-btn {
            cursor: pointer;

            position: absolute;
            right: 5px;
            bottom: 0;

            width: $button-size;
            height: $button-size;
            padding: 0;

            background: none;
            border: none;

            transition: transform $transition;

            svg {
                fill: $icon-color;
            }

            &:hover {
                transform: translateY(3px);
            }
        }

        &__more-btn-is-expanded {
            transform: rotateZ(-180deg);

            &:hover {
                transform: translateY(-3px) rotateZ(-180deg);
            }
        }
    }
}