@import "settings";

.system-toaster {
    position: relative;

    z-index: 9999;

    &.system-toaster {
        &--default {
            font-family: var(--font-family);
        }

        &--material {
            --image-border-radius: var(--image-border-radius-material);

            --bg-color-success: var(--bg-color-success-material);
            --bg-color-error: var(--bg-color-error-material);
            --bg-color-info: var(--bg-color-info-material);
            --bg-color-warning: var(--bg-color-warning-material);
            --border-radius: var(--border-radius-material);
            --border-color-error: var(--bg-color-error-material);
            --border-color-info: var(--bg-color-info-material);
            --border-color-success: var(--bg-color-success-material);
            --border-color-warning: var(--bg-color-warning);

            --toast-title-size: var(--toast-title-size-material);
            --toast-content-size: var(--toast-content-size-material);

            --box-shadow: var(--box-shadow-material);

            font-family: var(--font-family-material);
            --color: var(--color-material);
        }
    }

    .system-toaster {
        &__container {
            position: fixed;

            display: flex;
            flex-flow: column;

            max-width: $container-width;
        }
    }
}

@each $name, $value in $app-breakpoints {
    $min: map-get($value, min);
    $max: map-get($value, max);

    @media screen and (min-width: #{$min}) and (max-width: #{$max}) {
        .system-toaster {
            .system-toaster {
                &__container {
                    left: 10px;
                    right: 10px;

                    max-width: 100%;
                }
            }
        }
    }
}
