@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:host {
  // Default theme
  --image-size: 48px;
  --image-border-radius: 2px;
  --bg-color-success: #f6ffed;
  --bg-color-info: #e6f7ff;
  --bg-color-warning: #fffbe6;
  --bg-color-error: #fff2f0;
  --border-color-success: #b7eb8f;
  --border-color-info: #91d5ff;
  --border-color-warning: #ffe58f;
  --border-color-error: #ffccc7;
  --border-radius: 2px;
  --animation-speed: .3s;

  --box-shadow: none;

  --font-family: "Courier New", Arial, sans-serif;
  --toast-title-size: 18px;
  --toast-content-size: 16px;
  --color: #000;

  // Material theme
  --image-border-radius-material: 50%;
  --bg-color-success-material: #4caf50;
  --bg-color-info-material: #2196f3;
  --bg-color-warning-material: #ff9800;
  --bg-color-error-material: #f44336;

  --border-radius-material: 4px;
  --box-shadow-material:
          0px 3px 5px -1px rgb(0 0 0 / 20%),
          0px 6px 10px 0px rgb(0 0 0 / 14%),
          0px 1px 18px 0px rgb(0 0 0 / 12%);

  --font-family-material: "Roboto", Helvetica, sans-serif;
  --toast-title-size-material: 14px;
  --toast-content-size-material: 13px;
  --color-material: #ffff;
}

$container-width: 320px;

$app-breakpoints: (
  mobile: (
    min: 320px,
    max: 600px
  )
)
